APP_NAME=Boilerplate
APP_VERSION=0.1.0

# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/mydb"
# REDIS_URL="redis://default:password@localhost:6379/0"

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# OTP
PRELUDE_API_KEY=your_prelude_api_key_here
BYPASS_OTP=true
BYPASS_OTP_CODE=000000

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
# GOOGLE_REDIRECT_URI=http://localhost:3000/api/v1/auth/google/callback

# Firebase Storage
FIREBASE_BUCKET_NAME=your_firebase_bucket_name_here
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-key.json

# AI API Keys (Optional)
ANTHROPIC_API_KEY=your_anthropic_api_key_here
PERPLEXITY_API_KEY=your_perplexity_api_key_here

# Better Auth
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:3000